# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# IPFS artifacts
current_cid.txt
blockchain_folder/
blockchain.json
*.cid


# System files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE/project files
.vscode/
.idea/

