# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# IPFS artifacts
*.cid
blockchain.json

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE/project files
.vscode/
.idea/

